@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

@import './variables.css';
@import './reset.css';

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--blue-200);
  color: var(--blue-1100);
  margin: 0;
  padding: 0;
}

.profissionais {
  background-color: var(--white);
  width: 100%;
  margin: 1.25rem auto;
  padding: 1.25rem;
  border-radius: 0.5rem;
}

.profissionais-titulo {
  font-size: var(--title-font-size);
  font-weight: 700;
  margin-bottom: 1.25rem;
  color: var(--blue-1100);
}

.profissionais-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  justify-items: center;
  gap: 1.5rem;
}

.profissional-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.profissional-imagem {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border: 0.1rem solid rgba(6, 54, 67, 0.5);
  box-shadow: 0rem 0.25rem 0.25rem 0rem rgba(6, 54, 67, 0.2);
  border-radius: 0.5rem;
}

.profissional-nome {
  font-size: var(--subtitle-font-size);
  font-weight: 500;
  margin-top: 0.75rem;
  color: var(--blue-1100);
}

.profissional-especialidade {
  font-size: var(--text-font-size);
  font-weight: 400;
  color: var(--blue-1100);
  margin: 0.5rem 0;
}

@media screen and (min-width: 769px) {
  :root {
    --title-font-size: 1.25rem;
    --subtitle-font-size: 1rem;
    --text-font-size: 0.9rem;
  }

  .profissionais {
    width: 90vw;
  }
}

@media screen and (min-width: 1025px) {
  :root {
    --title-font-size: 1.5rem;
    --subtitle-font-size: 1.125rem;
    --text-font-size: 1rem;
  }
  
  .profissionais {
    width: 70vw;
  }
}

.avaliacoes {
    margin: 1.25rem auto;
    padding: 3rem;
}

.avaliacoes-titulo {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1.5rem 0;
}

.avaliacoes-lista {
    list-style: none;
}

.comentario-card {
    display: flex;
    gap: 1rem;
    padding: 1.5rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.avaliacoes-lista li:last-child {
    border-bottom: none;
}

.comentario-autor-imagem {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.comentario-conteudo {
    flex: 1;
}

.comentario-autor-nome {
    font-weight: 400;
    color: var(--text-color-dark);
    margin: 0.5rem 0;
}

.comentario-texto {
    font-size: 0.95rem;
    max-width: 650px;
    color: var(--text-color-light);
    line-height: 1.6;
}

.avaliacoes-paginacao {
    display: flex;
    justify-content: end;
    align-items: center ;
    gap: 16px;
    margin-top: 1.5rem;
}

.pagina-id {
    font-weight: 700;
}

.avaliacoes-btn-paginacao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid var(--blue-1100);
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.2s;
    outline: none;
}

.avaliacoes-btn-paginacao > svg {
    fill: var(--black);
}

.avaliacoes-btn-paginacao--anterior {
    transform: rotate(180deg);    
}

.avaliacoes-btn-paginacao:hover {
    background-color: var(--blue-hover-button);
}

.avaliacoes-btn-paginacao:active {
    background-color: var(--blue-clicked-button);
    color: var(--white);
}

.avaliacoes-btn-paginacao:active > svg {
    fill: var(--white);
}

@media screen and (min-width: 1025px) {  
  .avaliacoes {
    width: 70vw;
  }
}